<div class="footer_block description">
    <div class="footer_block-title">
        <center>
        <h1>О чём</h1>
        </center>
    </div>
    <div class="footer_block-content">
        <p>Сайт посвящен городу Донецку, его истории и тому, чем он живёт сейчас.<br><br>2017. Донецк</p>
    </div>
</div>
<div class="footer_block links">
    <div class="footer_block-title">
        <center>
        <h1>Что, где</h1>
        </center>
    </div>
    <div class="footer_block-content">
        <div>
            <ul>
                <a href="">
                    <li>Главная</li>
                </a>
                <div style="inline" class='sub_links'>
                    <a href="history.html">
                        <li>
                            История
                        </li>
                    </a>
                    <a href="infrastructure.html">
                        <li>
                            Инфраструктура
                        </li>
                    </a>
                    <a href="culture.html">
                        <li>
                            Культура и искусство
                        </li>
                    </a>
                    <a href="feedback.html">
                        <li>
                            Обратная связь
                        </li>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="footer_block developer">
    <div class="footer_block-title">
        <center>
        <h1>Кто делал</h1>
        </center>
    </div>
    <div class="footer_block-content">
        <p>Разработано в рамках курса WEB-программирования.<br> Разработал: <a href='http://github.com/sergeyDevjatov/'>Сергей Девятов</a>
    </p>
</div>
</div>