<div class="logo">
    <a href=""><img class="emblem" src="media/img/style/emblem.png" />
        <h1 class="title">
        Donetsk
        </h1>
    </a>
</div>
<center class="menu">
<ul>
    <a class="menuitem" href="index.html">
        <li>
            Главная
        </li>
    </a>
    <a class="menuitem" href="history.html">
        <li>
            История
        </li>
    </a>
    <a class="menuitem" href="infrastructure.html">
        <li>
            Инфраструктура
        </li>
    </a>
    <a class="menuitem" href="culture.html">
        <li>
            Культура и искусство
        </li>
    </a>
    <a class="menuitem" href="feedback.html">
        <li>
            Обратная связь
        </li>
    </a>
</ul>
</center>