.user_select(@arg: auto) {
    -webkit-user-select: @arg;
    -moz-user-select: @arg;
    -ms-user-select: @arg;
    user-select: @arg;
}

.fill-by-width {
    width: 100%;
}

.float(@side, @width) {
    float: @side;
    width: @width;
    height: 100%;
}

.float_left(@width) {
    .float(left, @width);
}

.float_right(@width) {
    .float(right, @width);
}

.middle_align_hack(@to_align) {
    &::before {
        content: ".";
        visibility: hidden;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        width: 0;
    }
    @selector: e('@{to_align}');
    @{selector}{
        display: inline-block;
        vertical-align: middle;
    }
}

.opacity_change(@key, @back) {
    @key1: @key - 6;
    @key2: @key - 3;
    @key3: @key;
    @selector1: e('@{key1}%');
    @selector2: e('@{key2}%');
    @selector3: e('@{key3}%');
    @{selector1}{
        opacity: 1;
    }
    @{selector2}{
        opacity: 0;
        background-image: @back;
    }
    @{selector3}{
        opacity: 1;
    }
}
