body {
    color: rgb(20,20,20);
}

#emblem{
    width:70px;
    display: block;
}

#title{
    display: block;
    margin: -70px 0 0 100px;
    width:100px;
    font: 36px "Brioni sans";
    color: white;
}

.logo{
    margin: 0;
    padding: 20px 30px;
    background: rgba(20, 20, 20, 1);
    display: grid;
}

.menu{
    display:block;
    width:75%;
    margin: -57px 280px;
}

.menu .menuitem {
    display: inline;
    padding: 100% 20px;
}

.menu .menuitem a{
    font: 20px "Uni Sans Caps";
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu .menuitem a:hover{
    color: lightgray;
}

.menu .menuitem a:focus{
    color: rgb(217, 176, 62);
}

.menu .current{
    background: rgba(0, 127, 208, 1);
}

#menu_button{
    margin: 0;
    padding:8px;
    background: rgba(50, 50, 50, 1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu_button:hover{
    background: rgba(70, 70, 70, 1);
}