@import "classes.less";
body {
    font-family: Proxima Nova;
    line-height: 1.2;
}

.block(@height){
    display: block;
    position: relative;
    width: 100%;
    height: @height;
    overflow: hidden;
}

.container {
    width: 1000px;
    height: inherit;
    margin: auto;
}

.heading {
    font-family: Proxima Nova;
    font-size: 36px;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
    padding-top:50px;
    margin-left: 80px;
}

.media_background(@opacity) {
    position: absolute;
    top: 0;
    background: black;
    *:nth-child(1) {
        opacity: 0.7;
    }
}

.font(@size, @weight, @align: left){
    font-size: @size;
    font-weight: @weight;
    text-align: @align;
}

#greeting {
    .block(700px);
    background: url("../assets/backgroundGreeting.png");
    background-position: center;
    background-size: cover;
    .container {
        position: relative;
        overflow: hidden;
        .video_background {
            .media_background(0.7);
            video {
                width: auto;
                height: 700px;
            }
        }
        .image_background {
            .media_background(0.7);
            img {
                width: 100%;
                height: auto;
            }
        }
        @media (max-width: 1000px) {
            & {
                overflow: hidden;
            }
            & .video_background {
                display: block;
            }
        }
        @media (min-width: 1000px) {
            & .video_background {
                display: none;
            }
        }
        .content {
            display: block;
            position: absolute;
            color: white;
            font-family: Diaria Pro;
            width: 630px;
            margin-left: 80px;
            margin-top: 210px;
            * {
                margin-top: 14px;
            }
            h1 {
                .font(48px, 900);
            }
            p {
                .font(30px, 400);
            }
            .content_3 {
                margin-top: 28px;
            }
        }
    }
}

#questions {
    .block(350px);
    .container {
        .question {
            width: 270px;
            display: inline-grid;
            text-align: left;
            margin: 10px 10px 0 10px; 
            &:nth-child(1){
                margin-left: 80px;
            }
            .title {
                .font(30px, bold);
                color: #222;
                line-height: 1.7;
            }
            .text {
                .font(16px, 100);
                color: #777;
            }
            .illustration {
                width: 175px;
                height: 175px;
                border-radius: 100%;
                margin: 20px auto 0 auto;
            }
        }
    }
}

#why_we{
    .block(800px);
    background-color: #161426;
    background-image: linear-gradient(40deg, transparent, rgba(0,0,0, 0.6));
    color: #fff;
    text-align: center;
    .advantage{
        display: inline-block;
        margin: 65px 80px 0 80px;
        .title{
            .font(28px, 900);
        }
        .text{
            .font(18px, 300);
            &.side{
                width: 270px;
            }
            &.middle{
                width: 420px;
            }
        }
    }
    
    #rocket1{
        position: absolute;
        top: 550px;
        left: 95px;
    }
}

#services{
    .block(1050px);
    background-color: black;
    color: #fff; 
    .image_background{
        .media_background(0.5);
        img{
            width: 100%;
        }
        & + .content{
            position: absolute;
            width: 100%;
        }
    }
    .heading{
        margin-bottom: 25px;
    }
    .service{
        width: 510px;
        height: 250px;
        position: relative;
        margin: 25px;
        box-sizing: border-box;
        padding: 20px;
        &.floatleft{
            float: left;
            margin-left: 130px;
        }
        &.floatright{
            float: right;
            margin-right: 130px;
        }
        .title{
            .font(28px, 900);
        }
        .text{
            .font(18px, 300);
        }
        .price{
            .font(28px, 600);
            float: left;
            margin-top: 30px;
        }
        .order_button{
            width: 200px;
            .font(28px, 600, center);
            background: #D9183B;
            color: #fff;
            text-decoration: none;
            border: none;
            padding: 9px;
            float: right;
            margin-top: 30px;
            cursor: pointer;
            &:hover{
                background: #FF1C45;
            }
        }
    }
}
